@import url(https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap);
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}
.App {
  justify-content: center;
}
.App,
.Cta-title {
  text-align: center;
}
.Cta-title {
  color: #ff4c98;
  font-family: Figtree, sans-serif;
  font-size: 35px;
  font-weight: 600;
  margin: 0 auto;
  padding: 10px;
  width: 80%;
}
.Cta {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}
.Cta-description {
  font-family: Figtree, sans-serif;
  font-size: 25px;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  width: 45%;
}
.Cta-description,
.timeline {
  color: #cfc9cc;
  margin: 0 auto;
}
.timeline {
  display: flex;
  max-width: 80%;
}
.timeline li,
ul {
  border: 0;
  color: #cfc9cc;
  font-family: Figtree, sans-serif;
  font-size: 17px;
  text-align: flex-end;
}
.likes-counter-container {
  align-items: center;
  color: #ff4c98;
  display: flex;
  font-family: Figtree, sans-serif;
  font-size: 15px;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: center;
  width: 400px;
}
.landing-greeting-emoji-container {
  align-items: flex-end;
  display: flex;
}
.emoji {
  animation: emojifloat 2s ease-in-out infinite;
}
.emoji,
.emoji-static {
  display: inline-block;
  font-size: 40px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px;
  unicode-bidi: isolate;
  width: -moz-fit-content;
  width: fit-content;
}
@keyframes emojifloat {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0);
  }
}
.react-logo-spin {
  animation: App-logo-spin 10s linear infinite;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 20s linear infinite;
  }
}
.App-header {
  align-items: center;
  background-color: #282c34;
  color: #cfc9cc;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}
.noselect {
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
}
.nav-item img:hover {
  border: none;
}
.nav-title {
  font-size: 25px;
}
ul {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}
li {
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}
::-webkit-scrollbar {
  background-color: #201e1e;
  width: 10px;
}
::webkit-scrollbar-track {
  background-color: #201e1e;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border: 2px solid #201e1e;
  border-radius: 10px;
  height: 2px;
  width: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ff4c98;
}
* {
  -ms-overflow-style: auto;
}
@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
a {
  text-decoration: none;
}
a:active,
a:focus,
a:visited {
  color: #ff4c98;
}
li::marker {
  color: #ff4c98;
  content: none;
  font-size: 1.5rem;
}
a:hover {
  text-decoration: none;
}
.tooltip .tooltiptext {
  background-color: #201f1fe6;
  border-radius: 5px;
  color: #ff4c98;
  font-size: 15px;
  left: 1260px;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  top: 65px;
  visibility: hidden;
  width: 110px;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.heading-desc {
  align-items: center;
  color: #cfc9cc;
  display: flex;
  font-size: 25px;
  font-weight: 400;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
}
.heading-desc,
.link {
  font-family: Figtree, sans-serif;
}
.link {
  border: 2px solid #0000;
  border-radius: 25px;
  color: #ff4c98;
  display: inline-block;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background-color: #121212;
}
.highlight,
.project-highlight {
  color: #ff4c98;
  font-family: Figtree, sans-serif;
}
.project-highlight {
  padding-right: 10px;
}
.javascript-highlight {
  color: #e0ec36;
}
.javascript-highlight,
.mongo-highlight {
  font-family: Figtree, sans-serif;
  padding-right: 10px;
}
.mongo-highlight {
  color: #3cf735;
}
.react-highlight {
  color: #3ad3e7;
  font-family: Figtree, sans-serif;
  padding-right: 10px;
}
.cplusplus-highlight,
.opengl-highlight {
  color: #6ea9e0;
  font-family: Figtree, sans-serif;
  padding-right: 10px;
}
.MuiSvgIcon-root MuiSvgIcon {
  align-items: flex-start;
  justify-content: flex-start;
}
.nav-heading a {
  display: flex;
  margin: 0 auto;
  position: relative;
}
.canvas-container {
  left: 0;
  position: fixed;
  top: 0;
  z-index: -1;
}
.canvas-container,
.canvas-container canvas {
  height: 100%;
  width: 100%;
}
.navigation {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: center;
  text-align: center;
}
.hamburger {
  cursor: pointer;
  display: none;
  flex-direction: column;
  height: 25px;
  justify-content: space-around;
  width: 25px;
}
.hamburger .bar {
  background-color: #ff4c98;
  border-radius: 10px;
  height: 3px;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.nav-menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: center;
  margin-top: 0;
  padding: 10px;
  transition: left 0.3s ease-in-out;
}
.nav-heading a {
  color: #ff4c98;
  text-decoration: none;
}
.download-button-container {
  display: flex;
  justify-content: flex-start;
  text-align: center;
}
.Github-button,
.Linkedin-button,
.download-button {
  -webkit-text-fill-color: #0000;
  align-items: center;
  background-color: initial;
  background: linear-gradient(90deg, #ff4c98, #ff6ec7);
  -webkit-background-clip: text;
  border: 3px solid #ff4c98;
  cursor: pointer;
  display: flex;
  height: 60px;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  padding: 5px 10px;
  text-align: center;
  transition: background-color 0.3s;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
}
.download-text {
  align-items: center;
  color: #ff4c98;
  display: flex;
  font-family: Figtree, sans-serif;
  font-size: 21px;
  font-weight: 400;
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
}
.icon {
  color: #cfc9cc;
}
.Github-button:hover,
.Linkedin-button:hover,
.Project_card-button:hover,
.download-button:hover {
  box-shadow: 0 5px #e0468866, 0 10px #e046884d, 0 15px #e0468833,
    0 20px #e046881a, 0 25px #e046880d;
}
.download-text:hover {
  text-decoration: none;
}
.landing-content-container {
  align-items: flex-start;
  flex-direction: column;
  padding: 100px;
}
.landing-content-container,
.landing-section-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
.landing-section-container {
  align-items: center;
  height: 1000px;
  padding: 10px;
}
.landing-greeting {
  font-size: 30px;
  margin-top: 80px;
  width: -moz-fit-content;
  width: fit-content;
}
.landing-greeting,
.landing-para {
  align-items: center;
  color: #cfc9cc;
  display: flex;
  font-family: Figtree, sans-serif;
  justify-content: center;
  margin-left: 10px;
}
.landing-para {
  font-size: 23px;
  margin-bottom: 15px;
  margin-top: 20px;
  width: 60%;
}
.landing-title {
  font-size: 80px;
  font-weight: 350;
  height: 100px;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.landing-desc,
.landing-title {
  -webkit-text-fill-color: #0000;
  align-items: center;
  background: linear-gradient(90deg, #ff4c98, #ff6ec7);
  -webkit-background-clip: text;
  display: flex;
  font-family: Figtree, sans-serif;
}
.landing-desc {
  font-size: 28px;
  justify-content: center;
  margin-left: 5px;
  width: -moz-fit-content;
  width: fit-content;
}
.landing-button-container {
  margin: 0 auto;
}
.landing-button,
.landing-button-container {
  align-items: center;
  display: flex;
  justify-content: center;
}
.landing-button {
  background-clip: initial;
  background-color: initial;
  border: 1px solid #0000;
  border-radius: 50px;
  height: 65px;
  margin-bottom: 150px;
  margin-top: 200px;
  scroll-behavior: smooth;
  width: 80px;
}
.landing-button:hover {
  animation: float 0.5s;
  border-radius: 50px;
  transform: translateY(10px);
  transition: 0.3s ease;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}
.projects {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 0 auto;
  padding: 10px;
}
.profile-container {
  border-radius: 15px;
  width: 70%;
}
.profile,
.profile-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.profile {
  border: 3px solid #ff4c98;
  border-radius: 75%;
  box-shadow: 0 1px 20px #ff4c98;
  height: 180px;
  object-fit: cover;
  width: 180px;
}
.profile:hover {
  box-shadow: 0 1px 30px #ff4c98;
  transition: 0.1s ease;
}
.profile_Desc {
  color: #cfc9cc;
  font-size: 20px;
  line-height: 1.35;
  max-width: 60%;
  opacity: 1;
}
.heading,
.profile_Desc {
  align-items: center;
  display: flex;
  font-family: Figtree, sans-serif;
  justify-content: center;
}
.heading {
  color: #ff4c98;
  font-size: 40px;
  font-weight: 500;
  margin: 0 auto;
  padding: 10px;
}
.picture:hover {
  cursor: pointer;
}
.github-commit-chart {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
  padding: 10px;
}
.commit-chart iframe {
  border: none;
  height: 200px;
  margin: 10px;
}
.Project_card {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 15px;
  width: -moz-fit-content;
  width: fit-content;
}
.Project_card-image iframe {
  border: 2px solid #342834;
  border-radius: 15px;
  flex: 1 1;
  margin-right: 50px;
}
.Project_card-image iframe:hover {
  border: 2px solid #ff4c98;
  transition: 0.6s;
}
.Project_card-image iframe {
  height: 100%;
  width: 600px;
}
.Project_card-image img {
  border: 2px solid #342834;
  border-radius: 15px;
  flex: 1 1;
  margin-right: 50px;
}
.Project_card-image img:hover {
  border: 2px solid #ff4c98;
  transition: 0.6s;
}
.Project_card-image img {
  height: 100%;
  width: 600px;
}
.Project_card-content {
  display: flex;
  flex: 2 1;
  flex-direction: column;
  justify-content: center;
  width: 750px;
}
.Project_card-heading {
  -webkit-text-fill-color: #0000;
  background: linear-gradient(90deg, #ff4c98, #ff6ec7);
  -webkit-background-clip: text;
  color: #0000;
  font-family: Figtree, sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}
.Project_card-description {
  color: #cfc9cc;
  font-family: Figtree, sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
}
.Project_card-button-container {
  display: flex;
  justify-content: flex-start;
}
.Project_card-button {
  background-color: initial;
  border: 2px solid #ff4c98;
  color: #ff4c98;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
}
.nav-heading {
  justify-content: center;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  text-align: center;
  width: 100%;
}
.nav-heading,
.nav-logo-heading {
  align-items: center;
  display: flex;
}
.nav-logo-heading {
  background-clip: initial;
  font-family: Figtree, sans-serif;
  font-size: 25px;
  font-weight: 400;
  justify-content: flex-start;
  margin: 0 auto 0 30px;
}
#nav-profile img {
  border: 2px solid #ff4c98;
  border-radius: 55px;
  height: 50px;
  margin: 10px 30px 10px 10px;
  object-fit: cover;
  overflow: hidden;
  width: 50px;
}
#nav-profile img,
.nav-item {
  align-items: center;
  display: flex;
  justify-content: center;
}
.nav-item {
  font-family: Figtree, sans-serif;
  font-size: 22px;
  font-weight: 300;
  margin: 25px;
}
.nav-link a:after {
  background-color: #ff4c98;
  background-image: linear-gradient(90deg, #ff4c98, #ff6ec7);
  bottom: -3px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.5s ease;
  width: 100%;
}
.nav-link a:hover:after {
  transform: scaleX(1);
}
#description {
  align-items: center;
  border: 2px solid #0000;
  color: #cfc9cc;
  font-family: Figtree, sans-serif;
  font-size: 16px;
  justify-content: center;
  max-width: 340px;
}
.main-content {
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  width: 100%;
}
.content-desc-container,
.main-content {
  align-items: center;
  display: flex;
  justify-content: center;
}
.content-desc-container {
  border-radius: 15px;
  max-width: 80%;
}
.content-desc {
  align-items: flex-start;
  font-size: 20px;
  justify-content: flex-start;
  line-height: 1.3;
  margin: 10px;
  padding: 30px;
  text-align: flex-start;
}
.content-desc,
.content-profile {
  color: #cfc9cc;
  flex: 1 1;
  font-family: Figtree, sans-serif;
  max-width: 100%;
}
.content-profile {
  line-height: 1.35;
}
.content-profile,
.content-title {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}
.content-title {
  font-size: 20px;
  width: 75%;
}
.content-desc h1 {
  color: #ff4c98;
  font-family: Figtree, sans-serif;
  font-size: 25px;
  line-height: 1.5;
  margin: 0 20% 10px;
  width: 95%;
}
.stack-card-container {
  align-items: flex-start;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: -moz-fit-content;
  height: fit-content;
  justify-content: flex-start;
  margin: 0 auto;
  width: 80%;
}
.stack-card {
  align-items: center;
  border: 2px solid #0000;
  border-radius: 15px;
  color: #ff4c98;
  height: 170px;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
@media (hover: hover) and (pointer: fine) {
  .stack-card:hover {
    background-color: #3a252f;
    transition: 0.5s;
  }
  .stack-card:hover,
  .stack-card:hover span {
    transition: 0.9s;
  }
}
.stack-card h1 {
  align-items: center;
  color: #ff4c98;
  font-family: Figtree, sans-serif;
  font-size: 22px;
  justify-content: center;
}
.stack-card img {
  height: 50px;
  margin: 10px;
  width: auto;
}
#stack-heading {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  font-family: Figtree, sans-serif;
  justify-content: flex-start;
  margin: 5px;
  width: 340px;
}
#BookIcon {
  padding: 10px;
}
.socials {
  align-items: center;
  border: 2px solid #0000;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  padding: 5px;
  width: -moz-fit-content;
  width: fit-content;
}
.socials1,
.socials2 {
  margin: 10px;
}
.Icons:hover {
  border: 1px solid #ff4c98;
  box-shadow: 0 1px 10px #ff4c98;
  cursor: pointer;
  transition: 0.1s;
}
.contactForm {
  color: #ff4c98;
  flex: auto;
  flex-direction: column;
  width: 100%;
}
.contact-desc-container,
.contactForm {
  align-items: center;
  display: flex;
  font-family: Figtree, sans-serif;
  justify-content: center;
  margin: 0 auto;
}
.contact-desc-container {
  width: 75%;
}
.contact-desc {
  border: 2px solid #2e2c2c;
  border-radius: 15px;
  color: #cfc9cc;
  font-size: 18.5px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.contactForm input {
  font-family: Figtree, sans-serif;
  font-size: 15px;
}
#img src {
  border-radius: 50%;
  margin: 10px;
}
.contactForm input {
  background-color: #201e1e;
  border: 1px solid #ff4c98;
  border-radius: 5px;
  color: #ff4c98;
  height: 30px;
  margin: 10px;
  padding: 10px;
  width: 400px;
}
.backToTop {
  align-items: center;
  color: #cfc9cc;
  display: flex;
  flex-direction: row;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
}
.backToTop:hover {
  animation: anti-float 0.5s;
  transform: translateY(-10px);
  transition: 0.5s ease;
}
@keyframes anti-float {
  0% {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
.footer {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}
.footer-strip {
  align-items: center;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-strip:last-child {
  border-right: none;
}
.footer-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Figtree, sans-serif;
  font-size: 17px;
  justify-content: flex-start;
  margin: 0 auto;
}
.footer-title {
  -webkit-text-fill-color: #0000;
  font-size: 18px;
  margin: 10px;
  text-align: center;
}
.footer-link,
.footer-title {
  background: linear-gradient(90deg, #ff4c98, #ff6ec7);
  -webkit-background-clip: text;
  font-family: Figtree, sans-serif;
  font-weight: 300;
}
.footer-link {
  -webkit-text-fill-color: #0000;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  justify-content: center;
  text-align: flex-start;
}
.footer-badge {
  flex-direction: column;
  font-size: 16px;
  margin: 10px;
  padding: 10px;
}
.footer-badge,
.footer-connect {
  align-items: center;
  display: flex;
}
.footer-connect {
  color: #ff4c98;
  gap: 10px;
  justify-content: center;
}
.error-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 440px;
}
.contact-button {
  background-color: #201e1e;
  border: 2px solid #ff4c98;
  border-radius: 5px;
  color: #ff4c98;
  flex: 1 1;
  font-family: Figtree, sans-serif;
  font-size: 18px;
  margin: 10px;
  order: 2;
  padding: 10px;
}
.contact-Box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 20px auto;
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
#error-check {
  color: #fc0000;
  display: flex;
  flex: 1 1;
  font-family: Figtree, sans-serif;
  margin: 10px auto;
  order: 1;
  padding: 10px;
}
.back-to-top {
  background-color: #ff4c98;
}
@media (min-width: 1600px) {
  .nav-item {
    -webkit-text-fill-color: #ff4c98;
    background: linear-gradient(90deg, #ff4c98, #ff6ec7);
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
  }
  @supports (-webkit-background-clip: text) {
    .nav-item {
      -webkit-text-fill-color: #ff4c98;
    }
  }
}
@media (max-width: 1600px) and (min-width: 1200px) {
  .projects {
    width: 85%;
  }
  .landing-section-container {
    height: 850px;
  }
  .landing-content-container {
    margin-top: 0;
    padding: 30px;
  }
  .landing-button {
    margin-top: 100px;
  }
  .landing-title {
    font-size: 60px;
  }
  .landing-desc {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .nav-item {
    -webkit-text-fill-color: #0000;
    align-items: center;
    background: linear-gradient(90deg, #ff4c98, #ff6ec7);
    -webkit-background-clip: text;
    border-radius: 15px;
    color: #0000;
    display: flex;
    justify-content: center;
    margin: 10px auto 0 30px;
    -webkit-mask-image: none;
    @supports (-webkit-background-clip: text) {
      .nav-item {
        -webkit-text-fill-color: #ff4c98;
      }
    }
  }
  .Project_card img {
    height: auto;
    max-width: 100%;
  }
  .Project_card {
    margin: 10px;
    padding: 10px;
  }
  .stack-card-container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: -moz-fit-content;
    height: fit-content;
    justify-content: center;
    margin: 0 auto;
    width: 83%;
  }
  .stack-card {
    height: 170px;
    margin: 10px;
    overflow: none;
    padding: 5px;
    width: -moz-fit-content;
    width: fit-content;
  }
  .stack-card #description {
    justify-content: center;
    padding: 10px;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .commit-chart iframe {
    border: none;
    height: 140px;
  }
  .nav-item {
    -webkit-text-fill-color: #0000;
    background: linear-gradient(90deg, #ff4c98, #ff6ec7);
    -webkit-background-clip: text;
    color: #0000;
    margin: 5px;
  }
  @supports (-webkit-background-clip: text) {
    .nav-item {
      -webkit-text-fill-color: #ff4c98;
    }
  }
}
@media (max-width: 800px) {
  .commit-chart iframe {
    border: none;
    height: 110px;
  }
  .nav-item {
    margin: 5px;
  }
  @supports (-webkit-background-clip: text) {
    .nav-item {
      -webkit-text-fill-color: #ff4c98;
    }
  }
  .landing-content-container {
    margin: 10px;
    padding: 150px;
  }
  .landing-title {
    font-size: 60px;
    margin: 0 auto;
  }
  .landing-desc {
    font-size: 30px;
    margin: 0 auto;
  }
  .download-button-container {
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px;
    width: 100%;
  }
  .download-text {
    font-size: 15px;
  }
  .nav-logo-heading {
    width: -moz-fit-content;
    width: fit-content;
  }
  .content-desc-container {
    display: grid;
    margin: 0 auto;
    width: 100%;
  }
  .content-title {
    padding: 0;
  }
  .content-desc {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .Project_card-description {
    font-size: 16px;
    width: 80%;
  }
  .Project_card img {
    height: auto;
    object-fit: cover;
    width: 100%;
  }
  .Project_card {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 100%;
  }
  .nav-logo-heading {
    margin: 0 auto;
  }
  .stack-card-container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: -moz-fit-content;
    height: fit-content;
    justify-content: center;
    margin: 0 auto;
    width: 83%;
  }
  .stack-card {
    height: 170px;
    margin: 10px;
    overflow: none;
    width: -moz-fit-content;
    width: fit-content;
  }
  .stack-card #description {
    justify-content: center;
    padding: 10px;
  }
  .contact-Box {
    margin: 20px auto;
  }
  .contactForm,
  .contactForm input,
  .contactForm textarea {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    margin: 10px auto;
  }
  .contactForm input,
  .contactForm textarea {
    margin: 10px auto;
    width: 230px;
  }
  .contactForm button {
    font-size: 15px;
  }
  .error-container {
    margin: 0 auto;
    width: 85%;
  }
  .footer {
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .projects {
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  .heading {
    color: #ff4c98;
    display: flex;
  }
  .heading,
  .navigation {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .navigation {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .nav-heading a {
    font-family: Figtree, sans-serif;
    justify-content: center;
    margin: 0 auto;
    padding: 5px;
    position: relative;
    text-align: center;
  }
  .profile {
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
  }
  .profile-container {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .Icons {
    flex-direction: row;
    margin: 0 10px;
  }
  .Project_card img {
    margin: 0 auto;
    object-fit: contain;
  }
  .stack-card-container {
    align-items: center;
    display: grid;
    font-family: Figtree, sans-serif;
    grid-template-columns: repeat(2, 1fr);
    height: -moz-fit-content;
    height: fit-content;
    justify-content: center;
    margin: 0 auto;
    width: 83%;
  }
  .stack-card {
    height: 170px;
    margin: 10px;
    overflow: none;
    width: -moz-fit-content;
    width: fit-content;
  }
  .stack-card #description {
    font-size: 16px;
    justify-content: center;
    padding: 10px;
  }
  .contactForm,
  .contactForm input,
  .contactForm textarea {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    width: auto;
  }
  .contactForm input,
  .contactForm textarea {
    margin: 10px auto;
    width: 230px;
  }
  .contactForm button {
    font-size: 15px;
  }
  .error-container {
    margin: 0 auto;
    width: 85%;
  }
  .contact-Box {
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    max-width: 60%;
  }
}
@media (max-width: 100px) {
  .heading {
    align-items: center;
    font-size: 30px;
    justify-content: center;
    margin: 10px;
  }
  .projects {
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }
  .Project_card {
    margin: 10 auto;
    width: -moz-fit-content;
    width: fit-content;
  }
  .stack-card-container {
    align-items: center;
    display: grid;
    font-family: Figtree, sans-serif;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin: 0 auto;
  }
  .stack-card,
  .stack-card-container {
    height: -moz-fit-content;
    height: fit-content;
  }
  .stack-card {
    width: -moz-fit-content;
    width: fit-content;
  }
  .stack-card #description {
    font-size: 16px;
    justify-content: center;
    padding: 10px;
  }
  .footer {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .nav-update {
    display: none !important;
  }
  .github-commit-chart {
    border: none;
    display: none;
  }
  .Cta-title {
    font-size: 20px;
    width: 100%;
  }
  .Cta-description {
    font-size: 15px;
    width: 80%;
  }
  .contact-desc-container,
  .heading,
  .profile,
  .profile-container,
  .projects,
  .socials,
  .stack {
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
  }
  .navigation {
    align-items: center;
    flex-direction: column;
  }
  .hamburger {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    right: 25px;
    top: 25px;
    transition: all 0.5s ease-in-out;
  }
  .hamburger.active .bar:first-child {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    height: 0;
    transform: translateY(-20px);
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    width: 100%;
  }
  .nav-menu.active {
    display: flex;
    height: 120px;
    transform: translateY(0);
    visibility: visible;
  }
  .nav-item {
    font-size: 15px;
    margin: 10px 0;
    text-align: center;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
    width: 30%;
  }
  .nav-menu.active .nav-item {
    opacity: 1;
    transform: translateX(0);
  }
  .nav-menu.active {
    text-align: center;
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
    width: 100%;
  }
  .nav-menu:not(.active) .nav-item {
    opacity: 0;
    transform: translateX(-50%);
    transition-delay: 0s;
  }
  .nav-menu:not(.active) {
    transition-delay: 0.5s;
  }
  .nav-menu.active .nav-item:first-child {
    transition-delay: 0.4s;
  }
  .nav-menu.active .nav-item:nth-child(2) {
    transition-delay: 0.45s;
  }
  .nav-menu.active .nav-item:nth-child(3) {
    transition-delay: 0.5s;
  }
  .nav-heading :hover {
    border-bottom: 2px solid #ff4c98;
  }
  .nav-logo-heading span {
    visibility: hidden;
  }
  .nav-heading a {
    display: block;
    padding: 5px 0;
  }
  .landing-content-container {
    margin: 10px;
  }
  .landing-title {
    font-size: 60px;
    height: 70px;
    margin: 0 auto 0 20px;
    padding-top: 0;
  }
  .landing-desc {
    font-size: 30px;
    justify-content: flex-start;
    margin: 0 auto 0 5px;
  }
  .download-button-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    width: 100%;
  }
  .download-text {
    font-size: 15px;
  }
  .content-desc-container {
    max-width: 100%;
  }
  .content-desc {
    font-size: 14px;
  }
  .stack-desc-container {
    overflow-x: hidden;
  }
  .nav-item {
    color: #ff4c98;
    margin: 5px;
    padding: 0;
  }
  @supports (-webkit-background-clip: text) {
    .nav-item {
      -webkit-text-fill-color: #ff4c98;
    }
  }
  .heading {
    font-size: 30px;
    font-style: normal;
    margin: 10px;
  }
  .heading-desc {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: 80%;
  }
  .heading-desc,
  .profile-container {
    align-items: center;
    justify-content: center;
  }
  .profile-container {
    box-sizing: border-box;
    margin: 0 auto;
    width: 85%;
  }
  .profile_Desc {
    font-size: 14px;
  }
  .content-profile {
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    width: 85%;
  }
  .content-desc-container {
    display: grid;
    margin: 0 auto;
    width: 100%;
  }
  .content-title {
    padding: 0;
  }
  .content-desc {
    align-items: center;
    font-size: 15px;
    justify-content: center;
    margin: 0 auto;
  }
  .Project_card iframe,
  .Project_card-image {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 90%;
  }
  .profile {
    margin: 0 auto 30px;
  }
  .Project_card {
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 100%;
  }
  .Project_card-content {
    width: 350px;
  }
  .Project_card-description {
    font-size: 15px;
  }
  .Project_card #heading {
    font-size: 20px;
    font-weight: 300;
  }
  .projects {
    width: 100%;
  }
  .nav-logo-heading {
    font-size: 17px;
    justify-content: center;
    margin: 10px auto;
  }
  .stack-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    width: 70%;
  }
  .stack-card {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: -moz-fit-content;
    width: fit-content;
  }
  #stack-heading {
    width: 150px;
  }
  #stack-heading,
  #stack-heading img,
  .stack-card h1 {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }
  .stack-card h1 {
    font-size: 14px;
  }
  .stack-card #description {
    display: none;
    font-size: 14px;
    justify-content: center;
    padding: 1px;
  }
  #stack-heading img {
    height: auto;
    width: 30px;
  }
  .Project_card button {
    font-size: 14px;
  }
  .footer {
    flex-direction: column;
  }
  .contact-Box {
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    max-width: 80%;
  }
  .profile {
    height: 150px;
    margin: 0 auto;
    width: 150px;
  }
  .content-title {
    font-size: 16px;
    width: 100%;
  }
  .landing-section-container {
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
    padding: 0;
  }
  .landing-content-container {
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto 0 20px;
    padding: 0;
  }
  .landing-para {
    font-size: 20px;
    margin-bottom: 20px;
    width: 300px;
  }
  .landing-greeting {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 20px;
  }
  .landing-title {
    font-size: 45px;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 10px;
    margin-top: 10px;
    width: -moz-fit-content;
    width: fit-content;
  }
  .download-button-container {
    padding-bottom: 100px;
  }
  .landing-desc {
    font-size: 18px;
    margin-top: 10px;
    width: 100%;
  }
  .landing-button {
    display: none;
  }
  .socials {
    margin: 0 auto;
  }
  .projects {
    grid-template-columns: 1fr;
  }
  .profile_Desc {
    font-size: 16px;
    max-width: 100%;
  }
  .profile {
    margin: 0 auto 50px;
  }
  .nav-heading a {
    color: #ff4c98;
    font-family: Figtree, sans-serif;
    font-size: 18px;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    text-align: center;
  }
  .Project_card-image img {
    height: auto;
    margin: 0 auto;
    object-fit: contain;
    width: 50%;
  }
  .heading {
    margin: 0 auto;
  }
  .contact-desc {
    font-size: 15px;
    width: -moz-fit-content;
    width: fit-content;
  }
  .timeline-container {
    display: none;
  }
  .timeline {
    color: #cfc9cc;
    display: flex;
    margin: 0 auto;
    max-width: 80%;
  }
}
@media (max-width: 1200px) {
  .projects {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 5%;
    padding-right: 5%;
  }
  .nav-logo-heading {
    border-radius: 15px;
    margin: 0 auto;
  }
  .heading,
  .nav-logo-heading {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .heading {
    position: relative;
  }
  .profile_Desc {
    font-size: 20px;
    max-width: 100%;
  }
  .profile {
    margin: 0 auto 30px;
  }
  .Project_card {
    margin: 0 auto;
    width: 100%;
  }
}
.nav-title {
  align-items: center;
  display: flex;
  font-size: 1.3rem;
  height: 100%;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}
.logo {
  color: #fff;
  display: flex;
  font-family: Figtree, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
}
.logo:hover {
  transition: all 0.3s ease-in-out;
}
.logo-backtick,
.logo:hover {
  -webkit-text-fill-color: #0000;
  background: linear-gradient(180deg, #e66465, #9198e5);
  -webkit-background-clip: text;
  background-clip: text;
  color: #0000;
}
.logo-backtick {
  display: flex;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
}
.logo:hover .logo-backtick {
  -webkit-text-fill-color: #fff;
  background: none;
  -webkit-background-clip: initial;
  background-clip: initial;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.nav-update {
  align-items: center;
  color: #cfc9cc;
  display: flex;
  font-family: Figtree, sans-serif;
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
}
.update-link {
  color: #ff6ec7;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: underline;
}
/*# sourceMappingURL=main.9ad61142.css.map*/